<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormWinContacts.Properties.Settings.WinFormsContactConnectionString"
            connectionString="Data Source=DESKTOP-IP0D3I2;Initial Catalog=WinFormsContact;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>